<div>

  <h2>
    New Summary
  </h2>

  <!--upload pdf file form-->
  <div>
    <form action="/insert_pdf" method="post" enctype="multipart/form-data">
        <label for="pdf_file">Upload PDF</label>
        <input type="file" id="pdf_file" name="pdf_file">

        <label for="title_box">Title</label>
        <input type="text" id="title_box" name="query_title">
      <button>Add PDF</button>
    </form>
  </div>

  <!--enter pdf link form-->
  <div>
    <form action="/insert_pdf_url" method="post">
        <label for="url_box">PDF URL</label>
        <input type="url" id="url_box" name="query_url" placeholder="https://example.com">
        <label for="title_url_box">Title</label>
        <input type="text" id="title_url_box" name="query_title_url">
      <button>Add PDF</button>
    </form>
  </div>

  <!--Empty text box for summary-->
  <div>
    <textarea rows="4" cols="50" placeholder="Summary will be displayed here..."></textarea>
  </div>

  <!-- TAGS -->
  <!-- first dropdown with "Enter New" option -->
  <div>
    <label for="tag-name-dropdown">Topic title:</label>
    <select id="tag-name-dropdown" onchange="checkEnterNew(this)">
      <% @list_of_tags.each do |a_tag| %>
        <option value="<%= a_tag.name %>"><%= a_tag.name %></option>
      <% end %>
      <option value="enterNew">Enter New:</option>
    </select>

  <!-- Input field for manual entry, initially hidden -->
  <input type="text" id="newOption" style="display:none;">

  <script>
    // JavaScript function to show/hide the manual entry field based on the selected option
    function checkEnterNew(selectElement) {
      var newOptionField = document.getElementById('newOption');
      newOptionField.style.display = (selectElement.value === 'enterNew') ? 'block' : 'none';
    }
  </script>
  
    <br>
    <!-- TAGS: dropdown without "Enter New" option -->
    <label for="tag-color-dropdown">Topic tag color:</label>
    <select id="tag-color-dropdown">
        <option value="color1">Blue</option>
        <option value="color2">Green</option>
        <option value="color3">Orange</option>
    </select>
    <br>
  </div>

</div>
