<div class="container mt-4">

  <h2 class="text-center mb-3">
    New Summary
  </h2>

  <!--upload pdf file form-->
  <div class="d-flex">
    <form action="/get_summary" method="post" enctype="multipart/form-data" id="pdfForm">
        <label for="pdf_file">Upload PDF</label>
        <input type="file" id="pdf_file" name="pdf_file" accept=".pdf">
        <button type="button" class="btn btn-outline-dark btn-sm">Get summary</button>
    </form>
  
  <p>or</p>

  <!--enter pdf link form-->
    <form action="/create_summary" method="post" id="pdfUrlForm">
        <label for="url_box">PDF URL</label>
        <input type="url" id="url_box" name="pdf_url" placeholder="https://example.com">
        <button type="button" class="btn btn-outline-dark btn-sm">Get summary</button>
    </form>
  </div>

  <!--Empty read-only text box for summary-->
  <!-- 
      make this change based on param values so you can render the same page 
      so, you'd add an ifelse to check it the param values are empty. if they are,
      then just display the read only box. if they are not (i.e. user has input a pdf
      link) then display the contents in a new textbox, and this will happen every time the
      get summary button is clicked. 
  -->

  <% if @pdf_url.present? %>
    <div class="text-center mb-3">
      <textarea rows="9" style="width: 100%;" id="summary_textbox" readonly name="summary_text">
        <%=@pdf_url%>
      </textarea>
    </div>
  <% else %>
    <div class="text-center mb-3">
      <textarea rows="9" style="width: 100%;" id="summary_textbox" readonly name="summary_text" placeholder="Summary will be displayed here..."></textarea>
    </div>
  <% end %>

  <!-- SAVE PDF + TAGS -->
  <div class="text-center mb-3">
    <form action="/save_summary" method="post">
      <!-- pdf title -->
      <label for="title_box">PDF Title</label>
      <input type="text" id="title_box" name="pdf_title">
      <br>

      <!-- first dropdown-- tag title with "Enter New" option -->
      <label for="tag-name-dropdown">Topic tag:</label>
      <select id="tag-name-dropdown" name="tag_name" onchange="checkEnterNew(this)">
        <% if @list_of_tags.present? %>
          <% @list_of_tags.each do |a_tag| %>
            <option value="<%= a_tag.name %>"><%= a_tag.name %></option>
          <% end %>
        <% end %>
        <option value="example-tag">example tag</option>
        <option value="enterNew">Enter New:</option>
      </select>

      <!-- Input field for manual entry, initially hidden -->
      <input type="text" id="newOption" style="display:none;">
      <br>

      <!-- second dropdown-- tag color without "Enter New" option -->
      <label for="tag-color-dropdown">Topic tag color:</label>
      <select id="tag-color-dropdown" name="tag_color">
          <option value="color1">Blue</option>
          <option value="color2">Green</option>
          <option value="color3">Orange</option>
      </select>
      <br>
      <button type="button" class="btn btn-outline-dark"> Save summary </button>
    </form>
  </div>

</div>

<script>
  // JavaScript function to show/hide the manual entry field based on the selected option
function checkEnterNew(selectElement) {
  var newOptionField = document.getElementById('newOption');
  newOptionField.style.display = (selectElement.value === 'enterNew') ? 'inline-block' : 'none';
}
</script>
