/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Custom Styles */
.form-control {
  border-color: #000000; /* Black border color */
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); /* Shadow with a bit of transparency */
}

.form-control:hover {
  border-color: #808080; /* Gray border color on hover */
}

.tight-label {
  margin-right: -12px; /* Reduce right margin of label */
}

.tight-input {
  margin-left: -12px; /* Reduce left margin of input */
}

/* for modal */
.modal-header .close {
  background-color: transparent;
  border: none;
  color: #000; /* Change the color to your preferred text color */
  opacity: 1; /* Ensure the X is fully visible */
}

/* text box displaying summary */
.textarea-container {
  height: 60vh; /* Adjust the height as needed */
}

.textarea-container textarea {
  height: 100%;
}
